 ### Comments

##### Are any texts written after a # symbol. Hence python will not attempt to run such lin of text

##### List of Pyton functions
##### 1. type
##### 2. print

### Data types

In [47]:
# Integers
## How to call a function (I am calling the 'type' "function" below)

type(3)

int

In [48]:
# Float
## How to call a function (I am calling the 'type' "function" below)
type(5.7)

float

In [49]:
# NoneType
type(None)

NoneType

In [50]:
# integer
type(0)

int

In [51]:
# Boolean
type(False)

bool

In [52]:
type(True)

bool

In [53]:
# String
type('Hello World!')

str

In [54]:
# The print() Function
# In the previous section, we called the variable. Here, we learn how to display it.
# The print() function displays the output rather than only returning it. In Jupyter Notebook, this often makes no practical difference; however, when working in other IDEs, you may not see the output unless you print it.
# This becomes evident when attempting to see two outputs from a cell. Jupyter Notebook only shows the latest call.
# print() statements can be used to display multiple outputs.
# We can specify the 'end' parameter inside the print() function to stipulate how a print() statement ends.
# For example, end = "\n\n" prints a new line after the print() output, which can be useful for improving the readability of the output.
# A blank print() statement also prints a new line.

# using end to give a new line
a = 1
b = 2
print(a, end="\n\n\n\n")
print(b)
print('----------------------------------------------')
# using a blank print statement to give a new line
print(a)
print()
print(b)

1



2
----------------------------------------------
1

2

In [55]:
## Concatenation
print("hello" + " world")

hello world

In [1]:
## Capitalization turns the first letter of a string to upper case.
## Capitalization is a METHOD

print('hello world')

print("hello world".capitalize())

x = "hello world"     
print(x.capitalize()) # no need to insert the variable x in quotation marks

var1 = "hello world"  
print(var1.capitalize()) # no need to insert the variable var in quotation marks

# upper METHOD turns all the letters of a string to upper case.
var1 = "hello world"  
print(var1.upper())

hello world
Hello world
Hello world
Hello world
HELLO WORLD

In [57]:
## lower METHOD turns all the letters of a string to upper case.
var2 = "HELLO WORLD"  
print(var2.lower())

hello world

In [3]:
my_first_print = "This print statement was created in Python"
print(my_first_print)

This print statement was created in Python

In [10]:
age = 38
print("I will be",age, "years old this year")

I will be 38 years this year

In [2]:
# Calculate a groups shopping bills.
# How much would it cost for 5 people if each person needs:
#Assign the value to total
#Provide your answer as a printed variable called total.
#These prices do not include VAT. Calculate the VAT on the total, assuming that VAT is 20%.
#Then round it appropriately to two decimal places.

A = "A pack of tomatoes"
B = "3 washing sponges"
C = "A litre of juice"
D = "20m of foil"
E = "180g sugar"

A = 0.67
B = 2.70
C = 1.75
D = 3.00
E = 1.10

print("5 packs of tomatoes each costs = £", 5 * A)
print("5 packs of 3 washing sponges each costs = £", 5 * B)
print("5 packs of A litre of juice each costs = £", 5 * C)
print("5 packs of 20m of foil each costs = £", 5 * D)
print("5 packs of 180g sugar each costs = £", 5 * E)
print("Total (without VAT)= £",A + B + C + D + E)
print("Total (with 20% VAT)= £",(0.2 * (A + B + C + D + E) + (A + B + C + D + E)))
print("Round-up Total + 20% VAT)= £",round((0.2 * (A + B + C + D + E) + (A + B + C + D + E)), 2))

5 packs of tomatoes each costs = £ 3.35
5 packs of 3 washing sponges each costs = £ 13.5
5 packs of A litre of juice each costs = £ 8.75
5 packs of 20m of foil each costs = £ 15.0
5 packs of 180g sugar each costs = £ 5.5
Total (without VAT)= £ 9.22
Total (with 20% VAT)= £ 11.064
Round-up Total + 20% VAT)= £ 11.06

In [58]:
# List (data tytpe)
# split METHOD splits comments or sentences wherever it is pecified in the split method brackets

x = "First impressions count with our non-professional hi-tech photography."
print(x.split())      # slipts sentence where spaces are located

x = "First impressions count with our non-professional hi-tech photography."
print(x.split('-'))   # slipts sentence where hyphens are located

x = "First impressions count with our non-professional hi-tech photography."
print(x.split('o'))   # slipts sentence where 'o' are located

['First', 'impressions', 'count', 'with', 'our', 'non-professional', 'hi-tech', 'photography.']
['First impressions count with our non', 'professional hi', 'tech photography.']
['First impressi', 'ns c', 'unt with ', 'ur n', 'n-pr', 'fessi', 'nal hi-tech ph', 't', 'graphy.']

In [59]:
#f- String
name = "Troy"
print(f"Hello {name}") # f-strings starts with an f just before the first quote

Hello Troy

In [60]:
## indexing

word = 'PYTHON'
print(word[0])
print(word[2])

P
T

In [61]:
word[4]

'O'

In [62]:
word[-2]

'O'

In [63]:
## String Indexing and Slicing ##
# Strings are iterable, meaning that they can return their elements one at a time.
# Strings are also immutable, meaning that their elements cannot be changed once assigned.
# They must be REASSIGNED to change them.
# Each character in a string is one element; this includes spaces and punctuation marks.
# Indexing enables us to call back one element.
# Slicing enables us to call back a range of elements.
print("\n\n")
# In Python, indexing starts at 0 (zero).
# slicing is inclusive at the lower bound (including).
# slicing is exclusive at the upper bound (up to, but not including the upper bound).
print ("\n")
my_first_string = "Hello World"
print(my_first_string[0])
print(my_first_string[1])
print(my_first_string[2])
print(my_first_string[3])
print(my_first_string[4])
print(my_first_string[5])
print(my_first_string[6])
print(my_first_string[7])
print(my_first_string[8])
print(my_first_string[9])
print(my_first_string[10])

H
e
l
l
o

W
o
r
l
d

In [64]:
# Slicing
# Slicing enables us to call back a range of elements.
# Use a colon to indicate a slicing operation; for example, 1:4 returns the 2nd (index 1),
# 3rd (index 2) and 4th (index 3) elements, but not the 5th (index 4):
my_first_string = "Hello World"
# print(my_first_string[lower bound:upper bound]) --illustration
print(my_first_string[1:4])
print(my_first_string[1:6])
print(my_first_string[1:5])
print(my_first_string[1:8])
print(my_first_string[0:8])
print(my_first_string[4:5])
print(my_first_string[4:6])
print(my_first_string[6:10])
print(my_first_string[6:7])
print(my_first_string[6:8])

print('-------------------------------------------')
print(my_first_string[-5:-1])
print(my_first_string[6:10])

ell
ello
ello
ello Wo
Hello Wo
o
o
Worl
W
Wo
-------------------------------------------
Worl
Worl

In [65]:
# In the absence of the upper bound, the slicing starts with the 1st index
# indicated and displays everything beyond:
my_first_string = "Hello World"
print(my_first_string[1:])
print(my_first_string[6:])
print(my_first_string[5:])
print(my_first_string[9:])
print('-------------------------------------------')
# In the absence of the lower bound, the slicing starts from index 0 up to, but not including, the upper bound:
my_first_string = "Hello World"
print(my_first_string[:3])
print(my_first_string[0:3])
print(my_first_string[:9])
print(my_first_string[:10])
print(my_first_string[:6])
print(my_first_string[:7])
print(my_first_string[:2])

ello World
World
 World
ld
-------------------------------------------
Hel
Hel
Hello Wor
Hello Worl
Hello
Hello W
He

In [66]:
my_first_string = "Hello World"
my_first_string[:5] + my_first_string[5:]

'Hello World'

In [67]:
my_first_string = "Hello World"
my_first_string[:1] + my_first_string[1:]

'Hello World'

In [25]:
my_first_string = "Hello World"
my_first_string[:9] + my_first_string[9:]

'Hello World'

In [69]:
word = "PYTHON"
word[:1] + word[1:]

'PYTHON'

In [70]:
word = "PYTHON"
word[:3] + word[3:]

'PYTHON'

In [71]:
word = "PYTHON"
word[:5] + word[5:]

'PYTHON'

##### Arithmetic operations

In [1]:
print(4 + 2)
print(10 - 1)
print(3 ** 2)
print(3 * 2)
print(5 % 2)
type(print(5 // 2))
x = print(25 / 5)
print(x) 
type(x)

x = 2 + 5
print(x)

x = 6 + 77
print(x)

6
9
9
6
1
2
5.0
None
7
83

##### Booleans and Comparison Operators
###### -Learning Objectives-
###### > Understand the basics of the Boolean data type (bool).
###### > Learn how to use comparison operators.
###### > Learn how to use boolean operators.
###### Booleans are data forms with only two possible values: True or False. These are actually Python keywords; therefore, you can create a boolean using them.

In [73]:
bool_1 = True
bool_2 = False
type(bool_1)

bool

In [74]:

my_str = 'Hello'
print(bool(my_str))
print('___________________________________________')
empty_str = ''
print(bool(empty_str))

True
___________________________________________
False

In [75]:
# Booleans function in Python as they do in maths. Comparison operators that return booleans based on whether the comparison is true or not:

# (<) less than
# (>) more than
# (<=) less than or equal to
# (>=) more than or equal to
# (==) equal to (single = is assignment)
# (!=) not equal,
# are used to evaluate equality/inequality.

# Keywords are employed to chain/modify boolean operators:

# and
# or
# not

In [76]:
1 < 2

True

In [77]:
1 >= 2

False

In [78]:
# and/or for boolean-comparison chaining.
1 < 2 and 10 < 20

True

In [79]:
1 < 2 and 2 > 5

False

In [80]:
1 < 2 or 2 > 5

True

In [81]:
# use not to return the opposite boolean.
not 100 > 1

False

In [82]:
# use the 'in' keyword to determine if an item is iterable (also works for strings).
print("x" in [1,2,3])

print("x" in ['x','y','z'])

print("a" in "a world")

print('f' in "flipflop")

False
True
True
True

### Python List
#### Chracterictics of List: 
#### > They are mutable (items in the list are changable) and they are ordered (they have a defined order)

In [83]:
# List (This is another python data type)
## A List represents multiples variable packed in one
## They can contain various datya types at a time.
## The ITEMS in the List are all indexed; meaning they can be 
## they are usualy enclosed in [ square brackets] and seperated by comma

my_list = ["yellow", "blue", 765, "car", "green", 34, True, 4.5, None, 0.667, 2, 78, 90, 33] 

# INDEXING
print(my_list[0])
print(my_list[-1])
print()
print(my_list[:2])
print(my_list[2:])
print()
print(my_list[:8])
print(my_list[8:])

yellow
33

['yellow', 'blue']
[765, 'car', 'green', 34, True, 4.5, None, 0.667, 2, 78, 90, 33]

['yellow', 'blue', 765, 'car', 'green', 34, True, 4.5]
[None, 0.667, 2, 78, 90, 33]

In [84]:
# SLICING 
print(my_list[1:7])
print(my_list[1:20])
print(my_list[12:-2])
print(my_list[0:200])
print(my_list[12:0])
print()
print(my_list[5:] + my_list[:5])
print(my_list[:5] + my_list[5:])
print()
print(my_list[:3] + my_list[5:])
print(my_list[:1] + my_list[8:])

['blue', 765, 'car', 'green', 34, True]
['blue', 765, 'car', 'green', 34, True, 4.5, None, 0.667, 2, 78, 90, 33]
[]
['yellow', 'blue', 765, 'car', 'green', 34, True, 4.5, None, 0.667, 2, 78, 90, 33]
[]

[34, True, 4.5, None, 0.667, 2, 78, 90, 33, 'yellow', 'blue', 765, 'car', 'green']
['yellow', 'blue', 765, 'car', 'green', 34, True, 4.5, None, 0.667, 2, 78, 90, 33]

['yellow', 'blue', 765, 34, True, 4.5, None, 0.667, 2, 78, 90, 33]
['yellow', None, 0.667, 2, 78, 90, 33]

In [85]:
print(my_list[:1] + my_list[8:])

['yellow', None, 0.667, 2, 78, 90, 33]

In [90]:
# 3rd index
my_list = ["yellow", "blue", 765, "car", "green", 34, True, 4.5, None, 0.667, 2, 78, 90, 33] 
print(my_list[1:9:3])
print(my_list[1:3:3])
print(my_list[1:14:2])

['blue', 'green', 4.5]
['blue']
['blue', 'car', 34, 4.5, 0.667, 78, 33]

In [87]:
## The .len() function counts the number of items in a data type containing multiple elements.
len(my_list)

14

In [5]:
## Mutability of Python List
my_list = ["yellow", "blue", 765, "car", "green", 34, True, 4.5, None, 0.667, 2, 78, 90, 33] 

my_list[3] = "bongo"
print(my_list)

['yellow', 'blue', 765, 'bongo', 'green', 34, True, 4.5, None, 0.667, 2, 78, 90, 33]

In [6]:
## In-place function operation (reverses order of items in a list)

my_list.reverse()
print(my_list)

[33, 90, 78, 2, 0.667, None, 4.5, True, 34, 'green', 'bongo', 765, 'blue', 'yellow']

In [7]:
## Append function can be used add items to list including adding another list to the current

my_list.append('horse')
print(my_list)

[33, 90, 78, 2, 0.667, None, 4.5, True, 34, 'green', 'bongo', 765, 'blue', 'yellow', 'horse']

In [8]:
# The .insert() method adds an item to a specific index. Note that lists are 0 indexed.
my_namelist = ['John', 'Paul', 'George', 'Ringo']
my_namelist.insert(1, 'Lennon')
my_namelist

['John', 'Lennon', 'Paul', 'George', 'Ringo']

In [9]:
## Extend function combines a list of individual item  to another list

my_list.extend([1, 3, 5, 7, 9, 11])
print('_______________________________________________________________________')
print(my_list)

_______________________________________________________________________
[33, 90, 78, 2, 0.667, None, 4.5, True, 34, 'green', 'bongo', 765, 'blue', 'yellow', 'horse', 1, 3, 5, 7, 9, 11]

In [2]:
## Remove function removes a item from a List
my_list = ["yellow", "blue", 765, "car", "green", 34, True, 4.5, None, 0.667, 2, 78, 90, 33]
my_list.remove(34)
my_list

ValueError: list.remove(x): x not in list

In [218]:
## Pop removes item from a List by index
my_list = ["yellow", "blue", 765, "car", "green", 34, True, 4.5, None, 0.667, 2, 78, 90, 33]
print(my_list)

my_list.pop(3)
print (my_list.pop(3))
my_list

['yellow', 'blue', 765, 'car', 'green', 34, True, 4.5, None, 0.667, 2, 78, 90, 33]
green

['yellow', 'blue', 765, 34, True, 4.5, None, 0.667, 2, 78, 90, 33]

In [2]:
# Elements can be added to lists; however, this does not change the original list.
my_list = ["yellow", "blue", 765, "car", "green", 34, True, 4.5, None, 0.667, 2, 78, 90, 33]
my_list = my_list + ['Yoko']
print(my_list)

['yellow', 'blue', 765, 'car', 'green', 34, True, 4.5, None, 0.667, 2, 78, 90, 33, 'Yoko']

In [7]:
# To change the original list, you must reassign it.
my_list = my_list + ['Yoko']

print(my_list)

['yellow', 'blue', 765, 'car', 'green', 34, True, 4.5, None, 0.667, 2, 78, 90, 33, 'Yoko']

In [21]:
# The list can be reassigned to a slice of the original list.

my_list = my_list[:4]

my_list

['yellow', 'BLUE', 765, 'car']

In [20]:
# Elements in a list can be reassigned to new values.
my_list[1] = my_list[1].upper()
my_list

['yellow', 'BLUE', 765, 'car']

In [240]:
# The list can be multiplied by integer x to replicate the original list x times.
print(my_list * 2)
# As mentioned previously, to make changes to the original list, it must be reassigned.
my_list

['yellow', 'BLUE', 765, 'car', 'yellow', 'BLUE', 765, 'car']

['yellow', 'BLUE', 765, 'car']

In [12]:
# A list can be contained within another list.
# The concept of inserting a list into another is called NESTING.
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# A nested list is formed by making a list of lists.
nest_list = [lst_1,lst_2,lst_3]
nest_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [13]:
## Note that it is possible to nest lists several levels deep.
print('Accessing second item', nest_list[1])
print('Accessing second item of the second item', nest_list[1][1])

Accessing second item [4, 5, 6]
Accessing second item of the second item 5

In [14]:
# Using the plus operator will add up indivudual items in a List to the existing
nest_list = [lst_1,lst_2 + lst_3]
nest_list

[[1, 2, 3], [4, 5, 6, 7, 8, 9]]

### List Functions and Methods
#####  Here, we review some of the most common functions and methods that apply to lists.
##### The difference between functions and methods is that functions are not bound to a specific data type, whereas methods are. In other words, a method is a function that is specific to a data type.
##### Therefore, all methods are functions, but not all functions are methods.

In [19]:
# We redefine my_list in order not to lose track of its contents.
# Note that the len function DOES NOT work for numbers or floats. It works for data types that are collections, such as lists or strings.

print(len(my_list))
my_list[1]

4

'BLUE'

### min() and max() to find the highest and lowest items in a list

In [1]:
# Apply min() and max() to find the highest and lowest items in a list, respectively.
num_list = [3, 7, 1, 9, 42]
print(min(num_list))
print(max(num_list))

1
42

In [2]:
# When used in lists with strings, they work in alphabetical order.
my_colourlist = ["yellow", "blue", "green", "red", "grey", "white"]
print(min(my_colourlist))
print(max(my_colourlist))

blue
yellow