#### Tuples
- Tuples are like lists: flexible data input.
- But they are immutable: cannot be changed once created. As mentioned, tuples are immutable, so you can't remove items from it
- Therefore no append/extend/remove/pop methods and no item reassignment for tuples.
- Useful for holding values in data that you do not want to be reassigned by accident.
- Tuples are iterable so length can be checked with len() function


#### Creating a Tuple
- Tuples are represented by parentheses (). You can also create a tuple using the tuple function

In [16]:
t = (1,2,3)
x = (9, 45, 90)
x2 = tuple(["y", 56, 7890])
x3 = tuple([1, "two", 3])

print(t)
print(x)
print(x2)
print(x3)
print("_____________________")
print(type(t))
print(type(x))
print(type(x2))
print(type(x3))

(1, 2, 3)
(9, 45, 90)
('y', 56, 7890)
(1, 'two', 3)
_____________________
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [21]:
# check length with len() function
t = (1,2,3,4,5,6,7,9,67,77,42)
print(len(t))

x = len(t)
print(x)

print(f"The length of the tuple is {x}")                 # the variable is created before the print statement
print("The length of the tuple is {x}".format(x=len(t))) # the variable x is builtin the print statement

11
11
The length of the tuple is 11
The length of the tuple is 11

#### Tuples' methods
- Tuples allow you to check how many times an item is repeated in it. To do so, you can use the method .count()

In [26]:
# count instances using .count() method
t2 = ('a', 'a', 'b', 'b', 'a')
t2.count("a")
z = t2.count("a")
print(z)


print(f"a occurs {z} times in the tuple")                           # the variable is created before the print statement
print("a occurs {w} times in the tuple".format(w=t2.count("a")))  # the variable w is builtin the print statement

3
a occurs 3 times in the tuple
a occurs 3 times in the tuple

#### How to check the first occurrence of an element using the index() method

In [28]:
# find first index using .index() method
t2.index("b")
y = t2.index("b")
print(y)

print(f"b occurs first at index {y} in the tuple")                          # the variable is created before the print statement
print("b occurs first at index {d} in the tuple".format(d=t2.index("b"))) # the variable d is builtin the print statement

2
b occurs first at index 2 in the tuple
b occurs first at index 2 in the tuple

#### Tuple Packing and Unpacking
- One of the most powerful aspects of tuples is a technique called tuple unpacking.
- This allows us to assign variables using commas from a single tuple in order.
- The syntax works as below, although the brackets can be omitted, unless required to be clear.
- Python 'unpacks' the tuple automatically and picks out the values and assigns them to the comma-separated variables:

In [29]:
a, b, c = (1, 2, 3)

print(f'a is equal to {a}')
print(f'b is equal to {b}')
print(f'c is equal to {c}')

a is equal to 1
b is equal to 2
c is equal to 3

### milestone 3 Task 3.2 prerequisite Practice Excercise

- Create an empty tuple without Python's built-in function
- Create an empty tuple with Python's built-in function
- Create a tuple that contains three different data types
- Merge the two of the tuples you created using the + operator
- Iterate over one of the tuples and print out tuples

In [30]:
# Create an empty tuple without Python's built-in function
tuple1 = ()
type(tuple1)

tuple

In [6]:
# Create an empty tuple with Python's built-in function
tuple2 = tuple()
type(tuple2)

tuple

In [37]:
tuple3 = tuple([])
type(tuple3)

tuple

In [38]:
# another example of empty tuple without Python's built-in function
tuple4 =([])
type(tuple4)

list

In [9]:
# Create a tuple that contains three different data types

tuple5 = (1, 'yes', 2.33)
type(tuple5)

tuple

In [10]:
# Merge the two of the tuples you created using the + operator
print(tuple5 + tuple2)

(1, 'yes', 2.33)

In [12]:
# Iterate over one of the tuples and print out tuples
tuple5.count(2.33)

1

In [13]:
print(tuple5.count(2.33))

1

#### counting number of occurence in tuples
- Count the number of i's in the tuple vowels = ('a', 'e', 'i', 'o', 'i', 'u')
- Count the number of 7's in the tuple numbers = (1, 7, 2, 7, 3, 7, 4, 7, 5, 7, 6, 7, 7, 7)
- Count the number of [1, 2, 3] lists and ('f', 'd') tuples in the tuple tuple = (1, 'f', [1, 2, 3], [4, 5], ('f', 'd'), ('f', 'd', 'e'), [1, 2, 3], 'a')

In [61]:
# Count the number of i's in the tuple vowels = ('a', 'e', 'i', 'o', 'i', 'u')

tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')
tuple_vowels.count('i')

2

In [17]:
# Count the number of 7's in the tuple numbers = (1, 7, 2, 7, 3, 7, 4, 7, 5, 7, 6, 7, 7, 7)
tuple_numbers = (1, 7, 2, 7, 3, 7, 4, 7, 5, 7, 6, 7, 7, 7)
tuple_numbers.count(7)

8

In [27]:
# Count the number of [1, 2, 3] lists and ('f', 'd') tuples in the tuple tuple = (1, 'f', [1, 2, 3], [4, 5], ('f', 'd'), ('f', 'd', 'e'), [1, 2, 3], 'a')
tuple_tuple = (1, 'f', [1, 2, 3], [4, 5], ('f', 'd'), ('f', 'd', 'e'), [1, 2, 3], 'a')
tuple_tuple.count([1,2,3]) , tuple_tuple. count(('f', 'd')) # This gives the result in one bracket

(2, 1)

In [37]:
a = tuple_tuple.count([1,2,3])
b = tuple_tuple. count(('f', 'd'))
print(a,'and', b)

2 and 1

#### Indexing Tuples 
- You have a tuple vowels = ('a', 'e', 'i', 'o', 'i', 'u')

- Find the first occurence of 'e' element
- Find the first occurence of 'i' element
- Find the first occurence of 'b' element. What does this return? What is the meaning of this error?
- The index() method can take one to three parameters. We used one of them so far: element, the item to scan. The two other paramaters this method can take are: - start_index - scanning of the - element will start from the start_index - end_index - scanning of the element will stop at the end_index
Find the first occurence of 'i' elemnts from index 4 to 8 in the following tuple alphabet = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')

In [62]:
# Find the first occurence of 'e' element in tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')
# Find the first occurence of 'i' element in tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')
tuple_vowels = ('a', 'e', 'i', 'o', 'i', 'u')


tuple_vowels.index('e')
tuple_vowels.index('i')

2

In [67]:
# creating tuples from indexing. Just me experimenting!

tuple_vowels.index('e'), tuple_vowels.index('i')

(1, 2)

In [ ]:
k = (tuple_vowels.index('e'), tuple_vowels.index('i'))
type(k)

In [72]:
# converting tuples to list. Just me experimenting!

[tuple_vowels.index('e'), tuple_vowels.index('i')]

[1, 2]

In [71]:
k = [tuple_vowels.index('e'), tuple_vowels.index('i')]
type(k)

list

In [68]:
print(f"e first appears at position {tuple_vowels.index('e')}")
print(f"i first appears at position {tuple_vowels.index('i')}")

e first appears at position 1
i first appears at position 2

In [70]:
# Find the first occurence of 'b' element. What does this return? What is the meaning of this error?
tuple_vowels.index('b')

ValueError: tuple.index(x): x not in tuple

In [69]:
# Find the first occurence of 'i' elements from index 4 to 8 in the following tuple alphabet = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')

tuple_alpha = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')
tuple_alpha[4:-1]
y = tuple_alpha[4:-1]
print(y)
y.index('i')
print(f"i first appears from index 4 to 8 at position {y.index('i')}")

('u', 'g', 'l', 'i')
i first appears from index 4 to 8 at position 3

In [70]:
# Find the first occurence of 'i' elements from index 4 to 8 in the following tuple alphabet = ('a', 'e', 'i', 'o', 'u', 'g', 'l', 'i', 'u')

tuple_alpha[4:-1].index('i')
print(f"the first occurence of the 'i' element from index 4 to 8 in the tuple alphabet is at position {tuple_alpha[4:-1].index('i')}")

the first occurence of the 'i' element from index 4 to 8 in the tuple alphabet is at position 3

#### Unpacking Tuples
- Initialise a tuple that contains four different data types. Unpack the tuple and print out each variable.
- Given a tuple = (70, "AiCore", 10, "Programming", 70) and x, *y, z = tuple. What do you think the output of the following print statements will be?
- print(x)
- print(y)
- print(z)
- Given a tuple = (70, "AiCore", 10, "Programming", 70) and x, y, *z = tuple. What do you think the output of the following print statements will be?

In [72]:
# Initialise a tuple that contains four different data types. Unpack the tuple and print out each variable.
# Method 1
tuple_datatypes = (78, True, 'The', 3.56)
int, bool, str, float = (78, True, 'The', 3.56)
print(f'{int} is an interger')
print(f'{bool} is a boolean')
print(f'{str} is a string')
print(f'{float} is a float')

78 is an interger
True is a boolean
The is a string
3.56 is a float

In [83]:
# Method 2
tuple_datatypes = (78, True, 'The', 3.56)
w, x, y, z = tuple_datatypes
print(f'{w} is an interger')
print(f'{x} is a boolean')
print(f'{y} is a string')
print(f'{z} is a float')

78 is an interger
True is a boolean
The is a string
3.56 is a float

In [75]:
# Given a tuple = (70, "AiCore", 10, "Programming", 70) and x, *y, z = tuple. What do you think the output of the following print statements will be?
tuple = (70, "AiCore", 10, "Programming", 70)
x, *y, z = tuple
print(x)

70

In [76]:
print(y) # generates a LIST of elements excluding the first and last

['AiCore', 10, 'Programming']

In [77]:
print(z)

70

#### More unpacking practice using the * operator - Notes
- The Operator * ensures the any tuple element excluding the first and last is printed when called
- while *y generates all the elements b/w the 1st and last elements, y generates all the result b/w the 1st and last elements in a LIST form

In [94]:
# I am considering an Even element listed tuple_x (16 char)

tuple_x = (23, 45, 67, 2.33, 5.6, 58, 44, 79, 89, 71, 4.4, 33, 67, 33, 22, 99)
x,*y, z = tuple_x
print(x)
print(y)
print(z)
print (*y)
print( {*y})

23
[45, 67, 2.33, 5.6, 58, 44, 79, 89, 71, 4.4, 33, 67, 33, 22]
99
45 67 2.33 5.6 58 44 79 89 71 4.4 33 67 33 22
{33, 2.33, 67, 4.4, 5.6, 71, 44, 45, 79, 22, 89, 58}

#### SETS - Notes
#### Set = A List in curly brackets
- Sets are not subscriptable (They can't be indexed)
- Sets are not ordered (They are just a bag of variables)
- Sets do not contain any duplicate items.

In [1]:
my_set = {1, 5, 9, 11, 17, 19}
type(my_set)

set

#### Conversion of a Set to a List

In [3]:
my_list = [1, 2, 3, 11, 13, 15]
type(my_list)

list

In [4]:
# converting to my_list to a Set

my_list = set([1, 2, 3, 11, 13, 15])
type(my_list)

set

In [7]:
 # Sets do not contain any duplicate items.
 
my_set1 = {1, 5, 9, 11, 17, 17, 1, 9, 9, 3, 19, 5, 23, 44, 19}
print(my_set1)
len(my_set1) # excludes duplicates

{1, 3, 5, 9, 11, 44, 17, 19, 23}

9

#### Set Operations

In [9]:
a = {1, 2, 3, 4}
b = {4, 66, 57, 3, 79, 88}

a. intersection(b)

{3, 4}

In [10]:
a.union(b)

{1, 2, 3, 4, 57, 66, 79, 88}

In [11]:
a.difference(b) # what's in 'a' thats is not in 'b'

{1, 2}

In [12]:
b.difference(a) # what's in 'b' thats is not in 'a

{57, 66, 79, 88}

- symmetric_difference returns a set with the items that are in set_1 and set_2, but without the items that are in BOTH

In [77]:
a.symmetric_difference(b)

{1, 2, 57, 66, 79, 88}

In [78]:
b.symmetric_difference(a)

{1, 2, 57, 66, 79, 88}

#### How to Remove items from Set

In [19]:
# add or Remove items from Set
my_set.add(987)
print(my_set)

{1, 17, 19, 5, 987, 9, 11}

In [20]:
my_set.remove(987)
print(my_set)

{1, 17, 19, 5, 9, 11}

#### Discard method is used to check if an item is in the set without generating a error message

In [23]:
my_set.discard(987)

In [24]:
my_set.remove(987)

KeyError: 987

#### Retrieve the minimum and maximum value in the set using the min and the max functions

##### Me Experimenting again

In [73]:
# And retrieve the minimum and maximum value in the set using the min and the max functions

min(my_set), max(my_set), min(my_set1), max(my_set1) # such arrangement give birth to a Tuple

(1, 19, 1, 44)

In [31]:
x = min(my_set), max(my_set), min(my_set1), max(my_set1) 
type(x)

tuple

In [75]:
y = [min(my_set), max(my_set), min(my_set1), max(my_set1)] # such arrangement give birth to a Tuple
type(y)

list

In [76]:
z = {min(my_set), max(my_set), min(my_set1), max(my_set1)} # such arrangement give birth to a Set
type(z)

set

### milestone 3 Task 3.3 prerequisite Practice Excercise
#### Initialising Stes
- Create an empty set without Python's built-in function
- Create an empty set with Python's built-in function
- Iterate over one of the sets and print out the values

In [102]:
# Create an empty set without Python's built-in function
my_set1 = {*()}
type(my_set1)

set

In [104]:
# Create an empty set with Python's built-in function
my_set2 = set([])
type(my_set2)

set

In [105]:
# Iterate over one of the sets and print out the values
my_set2 = set([])
print(my_set2)

set()

#### find the min and maxvalue in a set
- Find the maximum value in the following sets: set_int = {8, 16, 24, 1, 25, 3, 10, 65, 55} set_str = {'f', 'l', 'k', 'a', 'w'}
- Find the minimum value in the following sets: set_int = {4, 12, 10, 9, 4, 13} set_str = {'b', 'z', 't', 'm', 'y', 'c'}

In [106]:
# Find the maximum value in the following sets: set_int = {8, 16, 24, 1, 25, 3, 10, 65, 55} set_str = {'f', 'l', 'k', 'a', 'w'}
set_int = {8, 16, 24, 1, 25, 3, 10, 65, 55}
max(set_int)

65

In [107]:
set_str = {'f', 'l', 'k', 'a', 'w'}
max(set_str)

'w'

In [109]:
# Find the minimum value in the following sets: set_int = {4, 12, 10, 9, 4, 13} set_str = {'b', 'z', 't', 'm', 'y', 'c'}
set_int = {4, 12, 10, 9, 4, 13}
min(set_int)

4

In [110]:
set_str = {'b', 'z', 't', 'm', 'y', 'c'}
min(set_str)

'b'

#### Adding items to a set
- Given the set prime_numbers = {3, 5, 7, 11, 13}, add:
- a prime number to this set
- a set of prime numbers (hint: use update method)

In [112]:
prime_numbers = {3, 5, 7, 11, 13}
prime_numbers.add(17)
print(prime_numbers)

{17, 3, 5, 7, 11, 13}

In [117]:
 # Add a set of prime numbers (hint: use update method)
 # Method 1
 
prime_numbers.update([19, 23, 29, 31])
print(prime_numbers)

{3, 5, 7, 11, 13, 17, 19, 23, 29, 31}

In [119]:
# Method 2
prime_numbers.update({19, 23, 29, 31})
print(prime_numbers)

{3, 5, 7, 11, 13, 17, 19, 23, 29, 31}

#### Mathematical operation
- Given the following two sets: set1 = {15, 25, 35, 45, 55} set2 = {35, 45, 55, 65, 75}
- Return a set with the common items
- Return a set with the unique items
- Return a set that contains items in set1 or set 2 but not in both

In [120]:
# Return a set with the common items
set1 = {15, 25, 35, 45, 55} 
set2 = {35, 45, 55, 65, 75}

set1.intersection(set2)

{35, 45, 55}

In [121]:
# Return a set with the unique items
set1.union(set2)

{15, 25, 35, 45, 55, 65, 75}

In [124]:
# Return a set that contains items in set1 or set 2 but not in both
set1.difference(set2)

{15, 25}

In [123]:
set2.difference(set1)

{65, 75}

#### Finding the m,issing and Additional value in two lists
- list1 = [1, 2, 3, 4, 5, 6, 7, 8] list2 = [5, 6, 7, 8, 9, 10, 11, 12]
- Print the missing & additional items in list1 (hint: convert list to a set)
- Print the missing & additional items in list2

In [127]:
# Print the missing & additional items in list1 (hint: convert list to a set)

list1 = [1, 2, 3, 4, 5, 6, 7, 8] 
list2 = [5, 6, 7, 8, 9, 10, 11, 12]

list1 = set([1, 2, 3, 4, 5, 6, 7, 8])   # first convert the lists to set
list2 = set([5, 6, 7, 8, 9, 10, 11, 12])
list1.union(list2.difference(list1))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}